*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, sans-serif;
}

.container{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#000;
  overflow:hidden;
}

.background{
  position:absolute;
  width:100%;
  height:100%;
  background:
  radial-gradient(circle at 80% 70%, #ff7a00, transparent 40%),
  radial-gradient(circle at 60% 60%, #ff0080, transparent 40%),
  radial-gradient(circle at 40% 80%, #00aaff, transparent 40%),
  radial-gradient(circle at 20% 30%, #002aff, transparent 40%);
  filter: blur(80px);
}

.card{
  position:relative;
  width:410px;
  padding:28px;
  border-radius:25px;
  backdrop-filter: blur(25px);
  background: rgba(255,255,255,0.08);
  border:1px solid rgba(255,255,255,0.15);
  color:white;
}

.top-bar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.tabs{
  background:#111;
  padding:4px;
  border-radius:30px;
}

.tabs button{
  border:none;
  background:transparent;
  color:#aaa;
  padding:8px 16px;
  border-radius:20px;
  cursor:pointer;
}

.tabs .active{
  background:#222;
  color:white;
}

.close{
  font-size:20px;
  opacity:.6;
  cursor:pointer;
}

h2{
  margin-bottom:18px;
}

input, select{
  width:100%;
  padding:12px;
  margin-bottom:14px;
  border-radius:10px;
  border:1px solid rgba(255,255,255,0.15);
  background:rgba(255,255,255,0.05);
  color:white;
  outline:none;
}

.name-row{
  display:flex;
  gap:10px;
}

.phone{
  display:flex;
  gap:8px;
 
}

.phone select{
  width:70px;
}

.primary{
  width:100%;
  padding:14px;
  border:none;
  border-radius:10px;
  background:white;
  color:black;
  font-weight:600;
  margin-top:6px;
  cursor:pointer;
}

.divider{
  text-align:center;
  margin:18px 0 12px;
  font-size:12px;
  opacity:.6;
}

.social{
  display:flex;
  gap:10px;
}

.social button{
  flex:1;
  padding:12px;
  border-radius:10px;
  border:none;
  background:rgba(255,255,255,0.1);
  color:white;
  font-size:18px;
  cursor:pointer;
}

.terms{
  font-size:11px;
  text-align:center;
  opacity:.6;
  margin-top:16px;
}
