* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  font-family: Arial;
}

th {
  background: #7c3939;
  color: white;
  width: 30%;
}

td,
th {
  border: 1px solid;
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

.email-header {
  width: 22px;

}

.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 14px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 6px;
}

.pagination button.active {
  background: #007bff;
  color: white;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}