*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Inter, sans-serif;
}

.container{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background: radial-gradient(circle at bottom, #ff7a7a, #000 60%);
}

/* CARD */
.card{
  width:360px;
  padding:28px;
  border-radius:25px;
  backdrop-filter: blur(25px);
  background: rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.1);
  color:white;
  box-shadow:0 20px 40px rgba(0,0,0,0.6);
}

/* TOP */
.top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.tabs{
  background:#111;
  padding:4px;
  border-radius:20px;
}

.tabs button{
  border:none;
  background:transparent;
  padding:6px 16px;
  color:#aaa;
  cursor:pointer;
  border-radius:20px;
}

.tabs .active{
  background:#222;
  color:white;
}

.close{
  cursor:pointer;
  font-size:18px;
  opacity:.7;
}

/* TITLE */
h2{
  margin-bottom:20px;
}

/* INPUTS */
input{
  width:100%;
  padding:12px;
  border-radius:10px;
  border:1px solid rgba(255,255,255,0.1);
  background:rgba(255,255,255,0.05);
  color:white;
  margin-bottom:6px;
}

.row{
  display:flex;
  gap:10px;
}

small{
  color:#ff6b6b;
  font-size:12px;
  margin-bottom:10px;
  display:block;
}

/* BUTTON */
.primary{
  width:100%;
  margin-top:10px;
  padding:13px;
  border:none;
  border-radius:12px;
  background:white;
  color:black;
  font-weight:600;
  cursor:pointer;
}

/* DIVIDER */
.divider{
  text-align:center;
  font-size:12px;
  margin:18px 0;
  color:#aaa;
}

/* SOCIAL */
.social{
  display:flex;
  gap:12px;
}

.social button{
  flex:1;
  padding:10px;
  border-radius:12px;
  border:none;
  background:rgba(255,255,255,0.1);
  color:white;
  cursor:pointer;
}
.terms{
  margin-top:20px;
  text-align:center;
  font-size:12px;
  color:#aaa;
}
.phone-container{
  width:100%;
  margin-bottom:10px;
}
.phone-input{
  width:100% !important;
  height:45px !important;
  border-radius:10px !important;
  border:1px solid rgba(255,255,255,0.2) !important;
  background:rgba(255,255,255,0.05) !important;
  color:white !important;
  font-size:14px !important;
  padding-left:55px !important;
}
.phone-flag{
  background:transparent !important;
  border:none !important;
}
.phone-dropdown{
  background:#1f1f1f !important;
  border-radius:12px !important;
  border:none !important;
  color:white !important;
}
.phone-dropdown input{
  background:#2a2a2a !important;
  color:white !important;
  border:none !important;
}
.phone-dropdown .country:hover{
  background:#333 !important;
}
.phone-dropdown .country.highlight{
  background:#444 !important;
}


